# CHANGELOG: Shades of Purple

All notable changes in this project's [released versions](https://github.com/ahmadawais/shades-of-purple-vscode/releases) are documented in this file.


[![Version](https://vsmarketplacebadge.apphb.com/version/ahmadawais.shades-of-purple.svg?label=Shades%20of%20Purple&colorB=4D2AFF)](https://marketplace.visualstudio.com/items?itemName=ahmadawais.shades-of-purple)
[![Developers Using Shades of Purple](https://vsmarketplacebadge.apphb.com/installs/ahmadawais.shades-of-purple.svg?label=Developers&colorB=4D2AFF)](https://marketplace.visualstudio.com/items?itemName=ahmadawais.shades-of-purple)
[![Rating](https://img.shields.io/vscode-marketplace/r/ahmadawais.shades-of-purple.svg?label=Ratings&colorB=4D2AFF)](https://marketplace.visualstudio.com/items?itemName=ahmadawais.shades-of-purple#review-details) [![VSCode.pro](https://img.shields.io/badge/-VSCode.pro%20%E2%86%92-gray.svg?colorB=4D2AFF)](https://VSCode.pro/?utm_source=sop) [![Ahmad on Twitter](https://img.shields.io/twitter/follow/mrahmadawais.svg?style=social&label=Follow%20@MrAhmadAwais)](https://twitter.com/mrahmadawais/)

## COURSE: Become [VSCode Power User →](https://vscode.pro/?utm_source=sop)

After 10 years with Sublime Text, I switched to VSCode — the new open source cross-platform editor everyone's talking about. I've spent over a 1,000 hours perfecting my setup to help you <a href="https://VSCode.pro/?utm_source=sop#module1">switch today</a> and bring all your <a href="https://VSCode.pro/?utm_source=sop#module2">custom settings</a> and the <a href="https://VSCode.pro/?utm_source=sop#module3">power user workflows</a> for <a href="https://VSCode.pro/?utm_source=sop#module4">HTML/CSS</a>, GitHub/<a href="https://VSCode.pro/?utm_source=sop#module5">Git &amp; Open Source</a>, supercharged <a href="https://VSCode.pro/?utm_source=sop#module6">Markdown</a>, and everything from <a href="https://VSCode.pro/?utm_source=sop#module7">JavaScript</a> to <a href="https://VSCode.pro/?utm_source=sop#module8">PHP</a>, Go, Python, C++, C#, ROR &amp; 50+ Extensions. I'm <a href="https://VSCode.pro/?utm_source=sop#module9">sharing it all</a> in five hours — 65 videos online course. <a href="https://VSCode.pro/?utm_source=sop" target="_blank">Learn Visual Studio Code →</a>

<div align="center">
  <a href="https://VSCode.pro/?utm_source=sop" target="_blank"><img src="https://raw.githubusercontent.com/ahmadawais/shades-of-purple-vscode/master/images/vscodepro.jpg" />🎯 Learn VSCode →</a>

  _<small><a href="https://VSCode.pro/?utm_source=sop" target="_blank">VSCode Power User Course →</a></small>_
</div>
<br>

{{#each releases}}

  ![hr](https://raw.githubusercontent.com/ahmadawais/shades-of-purple-vscode/master/images/hr.png)

  <br>

  {{#if href}}
    ### RELEASE: [{{title}}]({{href}}){{#if tag}}{{/if}}
  {{else}}
    ### RELEASE: {{title}}{{#if tag}}{{/if}}
  {{/if}}

  {{#commit-list commits heading='![NEW](https://img.shields.io/badge/-NEW-gray.svg?colorB=3778FF)' message='NEW: '}}
    > {{subject}} [`{{shorthash}}`]({{href}}) <br>
  {{/commit-list}}

  {{#commit-list commits heading='![IMPROVEMENT](https://img.shields.io/badge/-IMPROVEMENT-gray.svg?colorB=39AA54)' message='IMPROVE: '}}
    > {{subject}} [`{{shorthash}}`]({{href}}) <br>
  {{/commit-list}}

  {{#commit-list commits heading='![FIX](https://img.shields.io/badge/-FIX-gray.svg?colorB=ff6347)' message='FIX: '}}
    > {{subject}} [`{{shorthash}}`]({{href}}) <br>
  {{/commit-list}}

  {{#commit-list commits heading='![DOCS](https://img.shields.io/badge/-DOCS-gray.svg?colorB=978CD4)' message='DOC:'}}
   > {{subject}} [`{{shorthash}}`]({{href}}) <br>
  {{/commit-list}}

    <br>
{{/each}}
